<% layout("layouts/boilerplate") %>

<div class="w-full">

  <!-- Welcome Section -->
  <div class="bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-xl shadow-sm px-6 py-5 mb-6">
    <h1 class="text-2xl font-semibold text-gray-800 dark:text-gray-100">
      Welcome, <%= currUser.name %> 👋 
	<span class="hidden lg:inline-block px-3 py-1 text-xs font-semibold rounded-full bg-gradient-to-r from-purple-500 to-pink-500">
		ADMIN
    </span>
    </h1>

  </div>

</div>
